body {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}



.country {
    fill: lightgreen;
    stroke: black;
    stroke-opacity: 0.3;
}

.sphere {
    fill: darkblue;
}







/*
display: flex;
justify-content: center;
align-items: center;
width: 65%;
margin: 50px auto;
padding: 20px;
background: white;
border-radius: 10px; 
*/